
/*Reset*/
* {
    margin: 0px;
    padding: 0px;
}

#contenedor{
 width: 960px;
 margin: auto;
 margin-top: 20px;
 margin-bottom: 20px;

}



body{
    background: #ffffff;
}

header img{
 display: block;
  margin: auto;
  width: 100%;
}

header{
    height: 150px;
    background: #ffffff
}

header h2{
    font-size: 12pt;
    text-align: center;
    line-height: 150px;
}

nav{
    background: blue;
    height: 30px;
    width: 100%;
    margin: auto;

}

nav h2{
    font-size: 20px;
    line-height: 30px;
    text-align: initial;
    color: #ffffff;
    margin-left: 50px;

}

#contenido{
    width: 700px;
    height: 500px;
    float: left;
    background: #ffffff;
    margin-right: 10px;
    margin-bottom: auto;
}

#contenido h1{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;

}

#contenido img{
    display: flex;
	width: 80px;
    height: 80px;
    float: left;
    margin-left: 50px;
}

#contenido tex{
float: left;
margin-top: 200x;
margin-left: 50px;
font-size: 20px;
}

aside {
    height: 500px;
    width: 250px;
    float: right;
    background: #ffffff;
}

aside h2{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;

}

#botones-headear{

    float:right;
    margin-top: 10px;
    margin-right: 4px;
    font-display: auto;


}

#titulo2{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 200px;
}


#boton-derecha{
    margin-left: 300px;
    float: left;

}

footer{
 
    clear: both;
    color: #595cb6
}

#invi-btn:focus{
  outline: 0;
  border: 0;
}









.navbar {
    background-color: #4e4db3;
  }

  .navbar .navbar-brand {
    color: #ecf0f1;
  }

  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ecdbff;
  }

  .navbar .navbar-text {
    color: #ecf0f1;
  }

  .navbar .navbar-text a {
    color: #ecdbff;
  }

  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ecdbff;
  }

  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }

  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff;
  }

  .navbar .navbar-nav .dropdown-menu {
    background-color: #595cb6;
    border-color: #4459ad;
  }

  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }

  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #4e44ad;
  }

  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #4447ad;
  }

  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }

  .navbar .navbar-toggle {
    border-color: #8e44ad;
  }

  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #8e44ad;
  }

  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }

  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }

  .navbar .navbar-link {
    color: #ecf0f1;
  }

  .navbar .navbar-link:hover {
    color: #ecdbff;
  }

  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #8e44ad;
    }
  }

  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #8e44ad;
    }
  }

  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #8e44ad;
    }
  }

  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #8e44ad;
    }
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }

  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #2b5dba;
  }

  #boton {
    background: red;
    float: right;
    position: absolute;
  }

  img {
    float: left;
  }