*{
  margin: 0;
  margin-top: 0;
}

.navbar-dark .navbar-nav .nav-link {
   color: #ffffff !important;
   
}
 #seccion-inicio{
  /*background: url("../assets/img/ENCABEZADO_1.jpg;");*/
  background-size: cover;
  background-attachment: fixed;
  min-width: 960px;
}



.navbar {

  opacity: 0.6;
 

  }

.header{
  background-image: url("../assets/img/ENCABEZADO_1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:  4000px;
  width: 6000px;
  
}


