*{
  margin: 0;
  margin-top: 0;
}

.navbar-dark .navbar-nav .nav-link {
   color: #ffffff !important;

}
 #seccion-inicio{
  /*background: url("../assets/img/ENCABEZADO_1.jpg;");*/
  background-size: cover;
  background-attachment: fixed;
  min-width: 960px;
}



.navbar  {
  background-color: blue;
  opacity: 0.8;


}
.btn{
  color: white;
  background-color: red;
}

.header{
  background-image: url("../assets/img/ENCABEZADO_1.jpg");
  background-position: center center;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  height:  4000px;
  width: 6000px;
}

section a h2{
margin-top: 20px;
float: right;
}
.navbar-brand{
  color: #ffffff;
}


#section {
width: 100%;
margin: 0px;
padding: 0px 0px 0px 0px;
float: left;
}
.cuerpo{
  color: #383838;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:10;
  text-decoration: none;
  line-height: 20px;
  }